.wrapper{
    width:100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.flex-container{
  display:flex;
  justify-content:space-evenly;
  padding:1rem;
}

.flex-container a{
  color: rgb(255, 208, 91);
  text-decoration: none;
  padding: 2rem;
}
.site-footer p {
  text-align: center;
  margin:auto;
  padding-bottom: 0rem;
  padding-top:rem;
  font-size: 10px;
  background-color: #40596B;
  color:white;

}

.small-icon {
  width: 30px;
  height: auto;
}

/*
* {
  margin:0;
}
header {
  position:absolute;
  width:100%;
  height:64px;
  top:0;
  background:red;
}
footer {
  position:absolute;
  width:100%;
  height:64px;
  bottom:0;
  background:green;
}
.content {
  position:absolute;
  width:100%;
  top:64px;
  bottom:64px;
  background:blue;
}
*/

